# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# typescript
*.tsbuildinfo
next-env.d.ts

*.bin
*.log
*node_modules
.next

mock*
scripts
environment.json
/misc

service-account-key.json

.c*

TODO.MD

**/service-account-key.json

__pycache__
tests/
backend/coverage/